* {
    -fx-background-color: e6e6e6;
}

.typeOfCalc {
    -fx-pref-width: 139px;
    -fx-pref-height: 50px;
    -fx-image: url('buttons/casual.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-pref-width: 57px;
    -fx-pref-height: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
}

.buttInMenu {
    -fx-pref-width: 320px;
    -fx-pref-height: 50px;
}

.button:hover {
    -fx-background-color: #d1d1d1;
}

.button:pressed:hover {
    -fx-background-color: #bbbbbb;
}

.squareButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.minimizeButton {
    -fx-background-image: url('buttons/minimize.png');
}

.minimizeButton:hover {
    -fx-background-color: #cfcfcf;
}

.minimizeButton:pressed:hover {
    -fx-background-color: #b8b8b8;
}

.fullScreenButton {
    -fx-background-image: url('buttons/fullScreen.png');
}

.fullScreenButton:hover {
    -fx-background-color: #cfcfcf;
}

.fullScreenButton:pressed:hover {
    -fx-background-color: #b8b8b8;
}

.closeButton {
    -fx-background-image: url('buttons/close.png');
}

.closeButton:hover {
    -fx-background-image: url('buttons/closeHovered.png');
    -fx-background-color: #e81123;
}

.closeButton:pressed:hover {
    -fx-background-image: url('buttons/close.png');
    -fx-background-color: #f1707a;
}

.anchorPlane {
    -fx-pref-width: 400px;
    -fx-pref-height: 625px;
}

.hBox {
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
}

.bigButton {
    -fx-pref-width: 95px;
    -fx-pref-height: 60px;
}

.memButton {
    -fx-pref-width: 63px;
    -fx-pref-height: 37px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
}

.whiteButton {
    -fx-background-color: #fafafa;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 23px;
}

.greyButton {
    -fx-background-color: #f0f0f0;
    -fx-font-family: "Segoe UI Symbol";
    -fx-font-size: 19px;
}

.dkGreyButton {
    -fx-background-color: #a3a3a3;
}

.dkGreyButton:hover {
    -fx-background-color: #717171;
}

.dkGreyButton:pressed:hover {
    -fx-background-color: #404040;
}

#secondaryLabel {
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 18px;
}

#calcLabel {
    -fx-padding: 10px 5px 5px 16px;
}

#plusMinus {
    -fx-background-image: url('buttons/plusMinus.png');
}

#equals {
    -fx-background-image: url("buttons/equals.png");
}

#plus {
    -fx-background-image: url("buttons/plus.png");
}

#minus {
    -fx-background-image: url("buttons/minus.png");
}

#multiply {
    -fx-background-image: url("buttons/multiply.png");
}

#oneDividedX {
    -fx-background-image: url("buttons/oneDividedX.png");
}

#square {
    -fx-background-image: url("buttons/square.png");
}

#radical {
    -fx-background-image: url("buttons/radical.png");
}

#divide {
    -fx-background-image: url("buttons/divide.png");
}

#percent {
    -fx-background-image: url("buttons/percent.png");
}

#del {
    -fx-background-image: url("buttons/del.png");
}

#mOption {
    -fx-background-image: url("buttons/mOption.png");
}

#option {
    -fx-background-image: url("buttons/option.png");
}

#changeSize {
    -fx-background-image: url("buttons/changeSize.png");
}

#history {
    -fx-background-image: url("buttons/history.png");
}

#menu {
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}