*{
    -fx-background-color: e6e6e6;
}
.typeOfCalc{
    -fx-pref-width: 139px;
    -fx-pref-height: 50px;
    -fx-image: url('buttons/casual.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.button {
    -fx-pref-width: 57px;
    -fx-pref-height: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0;
}
.button:hover{
    -fx-background-color: #d1d1d1;
}
.button:pressed{
    -fx-background-color: #bbbbbb;
}
.squareButton{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.minimizeButton {
    -fx-background-image: url('buttons/minimize.png');
}
.minimizeButton:hover{
    -fx-background-color: #cfcfcf;
}
.minimizeButton:pressed{
    -fx-background-color: #b8b8b8;
}
.fullScreenButton {
    -fx-background-image: url('buttons/fullScreen.png');
}
.fullScreenButton:hover {
    -fx-background-color: #cfcfcf;
}
.fullScreenButton:pressed{
    -fx-background-color: #b8b8b8;
}
.closeButton {
    -fx-background-image: url('buttons/close.png');
}
.closeButton:hover {
    -fx-background-image: url('buttons/closeHovered.png');
    -fx-background-color: #e81123;
}
.closeButton:pressed {
    -fx-background-image: url('buttons/close.png');
    -fx-background-color: #f1707a;
}

.anchorPlane {
    -fx-pref-width: 400px;
    -fx-pref-height: 625px;
}

.hBox {
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
}

.label {
    -fx-padding: 10px 5px 5px 16px;
}

.bigButton {
    -fx-pref-width: 95px;
    -fx-pref-height: 60px;
}
.memButton {
    -fx-pref-width: 63px;
    -fx-pref-height: 37px;
}

.whiteButton {
    -fx-background-color: #fafafa;
}

.greyButton {
    -fx-background-color: #f0f0f0;
}

.dkGreyButton {
    -fx-background-color: #a3a3a3;
}
.dkGreyButton:hover {
    -fx-background-color: #717171;
}
.dkGreyButton:pressed{
    -fx-background-color: #404040;
}

#plusMinus{
    -fx-background-image: url('buttons/plusMinus.png');
}
#zero{
    -fx-background-image: url('buttons/zero.png');
}
#comma{
    -fx-background-image: url("buttons/comma.png");
}
#equals{
    -fx-background-image: url("buttons/equals.png");
}
#one{
    -fx-background-image: url("buttons/one.png");
}
#two{
    -fx-background-image: url("buttons/two.png");
}
#three{
    -fx-background-image: url("buttons/three.png");
}
#plus{
    -fx-background-image: url("buttons/plus.png");
}
#four{
    -fx-background-image: url("buttons/four.png");
}
#five{
    -fx-background-image: url("buttons/five.png");
}
#six{
    -fx-background-image: url("buttons/six.png");
}
#minus{
    -fx-background-image: url("buttons/minus.png");
}
#seven{
    -fx-background-image: url("buttons/seven.png");
}
#eight{
    -fx-background-image: url("buttons/eight.png");
}
#nine{
    -fx-background-image: url("buttons/nine.png");
}
#multiply{
    -fx-background-image: url("buttons/multiply.png");
}
#oneDividedX{
    -fx-background-image: url("buttons/oneDividedX.png");
}
#square{
    -fx-background-image: url("buttons/square.png");
}
#radical{
    -fx-background-image: url("buttons/radical.png");
}
#divide{
    -fx-background-image: url("buttons/divide.png");
}
#percent{
    -fx-background-image: url("buttons/percent.png");
}
#CE{
    -fx-background-image: url("buttons/CE.png");
}
#C{
    -fx-background-image: url("buttons/C.png");
}
#del{
    -fx-background-image: url("buttons/del.png");
}
#MC{
    -fx-background-image: url("buttons/MC.png");
}
#MR{
    -fx-background-image: url("buttons/MR.png");
}
#mPlus{
    -fx-background-image: url("buttons/mPlus.png");
}
#mMinus{
    -fx-background-image: url("buttons/mMinus.png");
}
#MS{
    -fx-background-image: url("buttons/MS.png");
}
#mOption{
    -fx-background-image: url("buttons/mOption.png");
}
#option{
    -fx-background-image: url("buttons/option.png");
}
#changeSize{
    -fx-background-image: url("buttons/changeSize.png");
}
#history{
    -fx-background-image: url("buttons/history.png");
}